@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --global-bg-1: #1c1c1c0c;
    --global-bg-2: #1c1c1c19;
    --global-bg-3: #a8c5da;
    --global-bg-4: #e3f5ff;
    --global-bg-5: #e5ecf6;
    --global-bg-6: #f7f9fb;
    --global-bg-7: #ffffff;

    --global-text-1: #1c1c1c;
    --global-text-2: #1c1c1c33;
    --global-text-3: #1c1c1c66;
    --global-text-4: #4aa785;
    --global-text-5: #59a8d4;
    --global-text-6: #8a8cd9;
    --global-text-7: #ffc554;

    --searchview-bg-1: #ffffff66;

    --button-bg-1: #1c1c1ccc;
    --button-text-1: #ffffff;
  }

  .dark {
    --global-bg-1: #000000;
    --global-bg-2: #111111;
    --global-bg-3: #222222;
    --global-bg-4: #1a1a1a;
    --global-bg-5: #2a2a2a;
    --global-bg-6: #000000;
    --global-bg-7: #000000;

    --global-text-1: #ffffff;
    --global-text-2: #cccccc;
    --global-text-3: #999999;
    --global-text-4: #4aa785;
    --global-text-5: #59a8d4;
    --global-text-6: #8a8cd9;
    --global-text-7: #ffc554;

    --searchview-bg-1: #1a1a1a66;

    --button-bg-1: #ffffffcc;
    --button-text-1: #000000;
  }
}

@layer utilities {
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .bg-global-7 {
    background-color: var(--global-bg-7);
  }

  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }
  .text-global-5 {
    color: var(--global-text-5);
  }
  .text-global-6 {
    color: var(--global-text-6);
  }
  .text-global-7 {
    color: var(--global-text-7);
  }

  .bg-searchview-1 {
    background-color: var(--searchview-bg-1);
  }

  .bg-button-1 {
    background-color: var(--button-bg-1);
  }
  .text-button-1 {
    color: var(--button-text-1);
  }

  .dark .themed-icon {
    filter: invert(1) brightness(2);
  }

  .dark body {
    background-color: #000000 !important;
  }

  .dark html {
    background-color: #000000 !important;
  }

  @media (max-width: 768px) {
    .dark {
      --global-bg-7: #000000;
      --global-bg-6: #000000;
      --global-bg-1: #000000;
    }
    
    .dark body {
      background-color: #000000 !important;
    }
    
    .dark html {
      background-color: #000000 !important;
    }
  }
}